{% extends "base.html" %}
{% block content %}
    <div class="row">
         <div class="card col-md-4 mt-5 p-5">
        <div align='center'>
            <h5>{{current_user.username}}</h5>
            <img align='center' src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}">
            <p>{{ current_user.email }}</p>
        </div>

        <div class="container">
            <form  method="POST" action = "" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-group") }}
                    {{form.username(class='form-control')  }}
                </div
                <div class="form-group">
                  {{ form.email.label(class="form-group") }}
                  {{form.email(class='form-control')  }}
                </div>

                  {{ form.picture.label(class="form-group") }}
                  {{ form.picture(class="form-control form-control-sm") }}

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>

        </div>
    </div>
    </div>

{% endblock content %}
