<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/now-ui-kit.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <title>{{ title }}</title>
</head>
<body style="font-family: Lato, sans-serif">
<nav class="nav justify-content-between container mt-5">
    <div class="nav-brand">
        <img src="{{ url_for('static',filename='logo.svg') }}" alt="">
    </div>
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('main.index') }}" style="color: #4545D1">Home</a>
  </li>
  {% if current_user.is_authenticated %}
    <li class="nav-link"><a href="{{ url_for('users.logout') }}"style="color: #4545D1">Log Out</a></li>
    <li class="nav-link"><a href="{{ url_for('users.account') }}"style="color: #4545D1">Account</a></li>
    <li class="nav-link"><a href="{{ url_for('blog_posts.create_post') }}"style="color: #4545D1">Create Post</a></li>
    {% else %}
    <li class="nav-link"><a href="{{ url_for('users.login') }}"style="color: #4545D1">Log In</a></li>
    <li class="nav-link"><a href="{{ url_for('users.register') }}"style="color: #4545D1">Register</a></li>
    {% endif %}
</ul>
</nav>

<div class="container">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>